// Your custom SCSS should be written here...

$tc-red: #d52f23;

.navbar {
	margin: 0 0 50px;
	@include respond(all-phones) {
		margin: 0;
	}
	.logo {
		height: 100%;
		width: 100%;
	}
	.active {
		background: $tc-red;
	}
}


.modal {
	p {
		color: #444444;
	}
	.icon-cancel {
		color: #444444;
		font-size: 1.5rem;
	}
	.field {
		color: #444444;
	}
	h2 {
		color: #444444 !important;
	}
	h3 {
		font-size: 1.2em;
		color: #444444 !important;
	}
	a {
		color: #444444 !important;
		&:hover {
			text-decoration: underline;
			color: #d52f23;
		}
	}
	.btn a {
		color: white !important;
	}
	ul {
		display: inline-block;
	}
}

#on-now {
	background:url(../img/group.png) no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	article {
		background: rgba(0, 0, 0, 0.8); 
		padding: 15px;
		margin: 70px 0 0;
		@include respond(tablets) {
			margin: 20px 0 0;
		}
	}
	@include respond(all-phones) {
		background: none;
		height: auto;
		overflow-x: visible;
		overflow-y: visible;
	}
	h2 {
		color: $tc-red;
	}
	h3 {
		font-weight: bold;
	}
	h4 {
		font-size: 1.4em;
		margin: -5px 0 5px;
	}
}

#upcoming {
	background:#2f3431;
	padding: 10px 0;
}

footer {
	background:#2f3431;
	font-size: 0.9em;
	margin: 50px 0 0;
	p {
		font-size: 0.9em;
		@include respond(all-phones) {
			float: left !important;
		}
	}
	ul,  li {
		display: inline-block;
		@include respond(all-phones) {
			float: left !important;
		}
	}
	li {
		padding: 20px 10px 0px 0;
	}
}

#now {
	background:#3d433f;
	padding: 10px 20px 20px;
}

ul li img {
	border: 3px solid #2f3431;
}

.tooltiptext{
    display: none;
}

/*
 * qTip2 - Pretty powerful tooltips - v2.2.0
 * http://qtip2.com
 *
 * Copyright (c) 2013 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * http://jquery.org/license
 *
 * Date: Mon Dec 16 2013 04:37 EST-0500
 * Plugins: viewport
 * Styles: basic
 */
.qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;

	max-width: 280px;
	min-width: 50px;
	
	font-size: 14px !important;
	line-height: 1.5;

	direction: ltr;

	box-shadow: none;
	padding: 0;
}

	.qtip-content{
		position: relative;
		padding: 5px 9px;
		overflow: hidden;

		text-align: left;
		word-wrap: break-word;
	}

	.qtip-titlebar{
		position: relative;
		padding: 5px 35px 5px 10px;
		overflow: hidden;

		border-width: 0 0 1px;
		font-weight: bold;
	}

	.qtip-titlebar + .qtip-content{ border-top-width: 0 !important; }

	/* Default close button class */
	.qtip-close{
		position: absolute;
		right: -9px; top: -9px;

		cursor: pointer;
		outline: medium none;

		border-width: 1px;
		border-style: solid;
		border-color: transparent;
	}

		.qtip-titlebar .qtip-close{
			right: 4px; top: 50%;
			margin-top: -9px;
		}
	
		* html .qtip-titlebar .qtip-close{ top: 16px; } /* IE fix */

		.qtip-titlebar .ui-icon,
		.qtip-icon .ui-icon{
			display: block;
			text-indent: -1000em;
			direction: ltr;
		}

		.qtip-icon, .qtip-icon .ui-icon{
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			text-decoration: none;
		}

			.qtip-icon .ui-icon{
				width: 18px;
				height: 14px;

				line-height: 14px;
				text-align: center;
				text-indent: 0;
				font: normal bold 10px/13px Tahoma,sans-serif;

				color: inherit;
				background: transparent none no-repeat -100em -100em;
			}

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus{}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover{}


/*! Dark tooltip style */
.qtip-dark{
	background-color: #505050;
	border-color: #303030;
	color: #f3f3f3;
}

	.qtip-dark .qtip-titlebar{
		background-color: #404040;
	}

	.qtip-dark .qtip-icon{
		border-color: #444;
	}

	.qtip-dark .qtip-titlebar .ui-state-hover{
		border-color: #303030;
	}


.icon-right-open {
	a {
		color: white !important;
	}
}

.info {
	@include respond(all-phones) {
		font-size: 0.95em;
	}
	p {
		@include respond(all-phones) {
			font-size: 0.95em;
		}	
	}
}

.show-on-all-phones{
	 @include visible(all-phones);
	 @include visible(portrait-tablets);
	 @include hidden(tablets);
	 @include hidden(desktop);
}

.hide-after-desktop{
	 @include hidden(all-phones);
	 @include hidden(portrait-tablets);
	 @include visible(tablets);
	 @include visible(desktop);
}

.date-picking {
	margin: 0 0 50px;
}

.icon-up-dir, .icon-down-dir {
	font-size: 6em;
	color: $tc-red;
	text-align: center;
	padding: 60px 0 40px;
}

.schedule-block {
	background: #5c625e;
	padding: 10px 10px 5px;
	margin: 0 0 20px;
	@include respond(all-phones) {
			text-align: center;
			background: none;
			margin: 0 0 50px;
	}
	img {
		margin: 5px 20px 0 0;
	}
	h3 {
		margin: -5px 0 0;
		font-size: 1.5em;
		font-weight: bold;
	}
	h4 {
		font-size: 1.2em;
		margin: -5px 0 10px;
	}
	.info-box {
		background: #3d433f;
		padding: 15px 10px 10px;
		margin: -10px 0 0;
		float: left;
		text-align: center;
		@include respond(all-phones) {
			margin: 0 auto;
			float: none;
			text-align: center;
		}
	}
	.rating {
		font-size: 2em;
		font-weight: bold;
	}
	.time {
		font-size: 1.5em;
		color: $tc-red;
	}
	.genre {
		font-size: 1.2em;
	}
	p {
		@include respond(all-phones) {
			font-size: 0.9em;
			padding: 3px 5px;
		}
	}
}

.prev-block, .next-block {
	display: none;
}

hr {
	border: 1px solid #515853;
	height: 0px;
	background: none;
}

#toku, #anime, #drama, #other {
	display: none;
	h3 {
		font-weight: bold;
		@include respond(all-phones) {
			font-size: 1.3em;
		}
	}
	a {
		color: $tc-red;
	}
	p {
		@include respond(all-phones) {
			font-size: 0.95em;
		}
	}
}

#default-genre-screen, #toku, #anime, #drama, #other {
	h2 {
		float: left;
	}
	.field {
		float: right;
		padding: 20px 0 0;
		option, .picker, select {
			color: #444;
		}
		.picker {
			&:after {
				color: #444;
			}
		}
	}
}